.header{
    display: flex;
    border: 1px dashed red;
    justify-content: space-between;
}
.logo{
    width: 100px;
}
/* .nav-items{
    padding-left: 10px;
} */
 .res-container{
    display: flex;
    flex-wrap: wrap;
 }
.nav-items ul{
    display: flex;
    list-style-type: none;
    font-size: 20px;
}
.nav-items ul li{
    margin: 10px;
    padding: 10px;
}
.res-card{
    width: 200px;
    /* height: 350px; */
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    /* border: 1px solid red; */
    word-wrap: break-word;
    /* white-space: normal; */
}
.res-card:hover{
    cursor: pointer;
    border: 1px solid red;
}
.search{
    padding: 10px;
}
.res-img{
    width: 100%;
    border-radius: 10px;
}
/* .res-card-info{
    margin: 10px;
}
#cuisine_info{ 
    display: flex;
    flex-wrap: wrap;
} */
.filter{
    margin: 10px;
}

/* shimmer ui */
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}
.card{
    width: 200px;
    height: 300px;
    margin: 10px;
    border-radius: 10px;
    background-color: #f0f0f0;
}
.login-btn{
    margin: 10px;
    padding: 5px 5px;
    border-radius: 10px;
}

/* filter div */
.filter{
    display: flex;
}
.search-container{
    margin-right: 10px;
}

/* Restaurant Info Page */
.res-info{
    text-align: center;
}
.res-menu{
    background-color: beige;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.res-menu li{
    margin-top: 1rem;
}